@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Space+Grotesk:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "Manrope", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
}
